<h1>Edit Rent</h1>
<%= simple_form_for([@product, @rent]) do |f| %>
  <%= f.input :total_value %>
  <%= f.input :duration %>
  <%= f.input :credit_card %>
  <%= f.submit %>
<% end %>

<%= link_to "Back", rents_path %>
