<h1>Edit Rent</h1>
<%= simple_form_for([@product, @rent]) do |f| %>
  <%= f.input :total_value %>
  <%= f.input :duration %>
  <%= f.input :credit_card %>
  <p><strong>Approval State:</p>

  <%= f.submit %>
<% end %>

<%= link_to "Back", rents_path %>


 <%# <select class="custom-select">
    <p><strong>Approval State:</p>
    <%# <option selected><%= @rent.approval_state </option> %>
    <%# <option value="1">Approved</option>
    <option value="2">Declined</option>
  </select> %>
