<h1>Products List</h1>

  <% @products.each do |product| %>
  <div class="col-12 col-sm-6 col-md-4 mb-3">
    <%= link_to product_path(product), class: "text-decoration-none" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=image_cloudinary(product)%>)">
      <%# o image_cloudinary está no helpers/lists_helper para poder ser chamado em vários forms %>
      <%= product.name %>
      </div>
    <% end %>
  </div>
  <% end %>

<%= link_to "New Product", new_product_path %>
<%= link_to "Rents", rents_path %>
