<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= @product.min_rent_duration %></p>
<p><%= @product.weight %></p>
<p><%= @product.material %></p>
<p><%= @product.product_price %></p>
<p><%= @product.rent_cost %></p>
<p><%= @product.city %></p>
<p><%= @product.state %></p>

