<h2><%= @product.name %></h2>
<p><%= @product.description %></p>
<p><%= @product.durantion %></p>
<h2><%= @product.weight %></h2>
<p><%= @product.material %></p>
<p><%= @product.estimated_price %></p>
<h2><%= @product.cost %></h2>
