<h1>Product</h1>
<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= @product.min_rent_duration %></p>
<p><%= @product.weight %></p>
<p><%= @product.material %></p>
<p><%= @product.product_price %></p>
<p><%= @product.rent_cost %></p>
<p><%= @product.city %></p>
<p><%= @product.state %></p>

<%= link_to "Home", products_path %>

<% if @product.photo.attached? %>
  <%= cl_image_tag @product.photo.key, width: 300, height: 200, crop: :fill %>
<% else %>
  <%= image_tag "libras_ouro.jpg" %>
<% end %>

<%#= cl_image_tag @product.photo.key, height: 300, width: 200, crop: :fill %>

 <%# @product.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%# end %>

<% if policy(@product).edit? %>
  <%= link_to "Edit this product", edit_product_path %> |
<% end %>

<%= link_to "Delete this product", product_path(@product), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} if policy(@product).destroy?%>
<%= link_to "Back to products", products_path %>
<%= link_to "Book new rent", new_product_rent_path(@product) %>